<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<!-- Enable debugging mode -->
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<system.webServer>
		<!-- Set Default Page -->
		<defaultDocument enabled="true">
			<files>
				<add value="PhotoGallery.aspx" />
			</files>
		</defaultDocument>

		<!-- Enable ASP.NET applications to work correctly -->
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<add name="WebServiceHandlerFactory-Integrated" path="*.asmx"
				 verb="*" type="System.Web.Script.Services.ScriptHandlerFactory"
				 resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>

		<!-- Enable Static Content -->
		<staticContent>
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>

		<!-- Enable Directory Browsing (optional) -->
		<directoryBrowse enabled="false" />
	</system.webServer>
</configuration>
